.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  padding: 10px;
}


.mr-2 {
  margin-right: 0.9rem;
}
