
<div class="d-flex flex-column justify-content-between" *ngIf="this.FormBuilder">
<!-- Title -->
<app-title [title]="clientTitle"></app-title>

<form  [formGroup]="this.FormBuilder" autocomplete="off">
  <div>
    <!-- Components Inputs -->
      <app-control-input-generic
          [formGroup]="this.FormBuilder"
          [classMain]="'row'"
          [inputGeneric]="inputGenericData">
      </app-control-input-generic>
  </div>
</form>

  <button type="button" class="btn btn-primary btn-sm mt-1 mb-1" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- formArrayName -->
  <form [formGroup]="this.FormBuilder" autocomplete="off">
          <div body>
            <app-control-input-generic
              [formGroup]="FormBuilder"
              [classMain]="'row'"
              [subTitleformArrayName]="'Address'"
              [inputGenericDataArray]="inputGenericDataClientAddress"
              [formArrayName]="'address'"
              [control]="this.getAddres" >
            </app-control-input-generic>
          </div>
  </form>

  <!-- button save -->
  <div class="float-right text-right">
    <app-button-save
            [enable]="matDialogData?.formEnableOrdisable"
            [name]="this.FormBuilder.value.id == 0 ? 'Save': 'Edit'"
            (saveEvent)="save()">
    </app-button-save>

  </div>


</div>
