
    <div class="d-flex flex-column justify-content-between" *ngIf="this.clientServ.FormBuilder">
    <!-- Title -->
    <app-title [title]="clientTitle"></app-title>

    <form  [formGroup]="this.clientServ.FormBuilder" autocomplete="off">
      <div>
        <!-- Components Inputs -->
          <app-control-input-generic
              [formGroup]="this.clientServ.FormBuilder"
              [classMain]="'row'"
              [inputGeneric]="inputGenericData">
          </app-control-input-generic>
      </div>
    </form>

    <div class="btn-group p-0 mt-2" role="group">
      <button type="button"  matTooltip="Add Address" class="btn btn-primary p-0" (click)="addItem()"
              [disabled]="!matDialogData?.formEnableOrdisable">
          <mat-icon>add</mat-icon>
      </button>

      <button type="button" class="btn btn-primary p-0" disabled></button>

      <button type="button" matTooltip="Delete Address" class="btn btn-danger  p-0" (click)="deleteItem()"
              [disabled]="!matDialogData?.formEnableOrdisable">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>

    <!-- formArrayName -->
    <form [formGroup]="this.clientServ.FormBuilder" autocomplete="off">
            <div body>
              <app-control-input-generic
                [formGroup]="clientServ.FormBuilder"
                [classMain]="'row'"
                [subTitleformArrayName]="'Address'"
                [inputGenericDataArray]="inputGenericDataClientAddress"
                [formArrayName]="'clientAddress'"
                [control]="this.clientServ.getAddres" >
              </app-control-input-generic>
            </div>
    </form>

    <!-- button save -->
    <div class="d-flex justify-content-end">
      <app-button-save
              [enable]="matDialogData?.formEnableOrdisable"
              [name]="this.clientServ.FormBuilder.value.id == 0 ? 'Save': 'Edit'"
              (saveEvent)="save()">
      </app-button-save>
    </div>

</div>
